/* Вычислить вес селекторов. При сдаче работы должно быть решение!: */

div#home p.title-page >span {
   color: red;

   /* 
   // Начальный вес
   0, 0, 0, 0
   
   // Идентификаторы
   #home             0, 1, 0, 0 

   // Классы, атрибуты и псевдоклассы
   .title-page       0, 1, 1, 0

   //  Теги и псевдоэлементы
   div               0, 1, 1, 1
   p                 0, 1, 1, 2
   span              0, 1, 1, 3

   // Итог
   div#home p.title-page >span
   =>
   0, 1, 1, 3
   
   */
} 

.first-title ~div >div li#fist {
   font-size: 12px;

   /* 
   // Начальный вес
   0, 0, 0, 0
   
   // Идентификаторы
   #fist             0, 1, 0, 0 

   // Классы, атрибуты и псевдоклассы
   .first-title      0, 1, 1, 0

   //  Теги и псевдоэлементы
   div               0, 1, 1, 1
   div               0, 1, 1, 2
   li                0, 1, 1, 3

   // Итог
   .first-title ~div >div li#fist
   =>
   0, 1, 1, 3
   
   */
}

a[title] {
   font-weight: bold;

   /* 
   // Начальный вес
   0, 0, 0, 0

   // Идентификаторы
   0, 0, 0, 0 

   // Классы, атрибуты и псевдоклассы
   [title]           0, 0, 1, 0

   //  Теги и псевдоэлементы
   a                 0, 0, 1, 1


   // Итог
   a[title]
   =>
   0, 0, 1, 1
   
   */
}